
*.class


*.log


*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


target/
pom.xml.tag
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties


.idea/
*.iws
*.iml
*.ipr


.vscode/
.history/
*.code-workspace


.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project


.DS_Store
Thumbs.db